# Node.js
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log

# Logs
logs
*.log
*.log.*

# Environment Files
.env
.env.*

# Operating System Files
.DS_Store
Thumbs.db

# IDEs and Editors
.vscode/
.idea/

# Sequelize config
sequelize-config.json

# ESLint cache
.eslintcache
eslint.config.mjs